.Rproj.user
.Rhistory
.RData
.Ruserdata
To do.docx
guide-scripts.docx
looking at CS201 within spp tradeoffs.Rmd
scraps-anal-stig-pollen-summary.R
scraps-tukeys-hsd-manually.R
~$To do.docx
~$ide-scripts.docx
